* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a, span {
    display: block;
    margin-top: .5rem;
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

body, .card {
    padding: .5rem;
}

.card {
    border: 1px solid #000a;
    border-radius: .5rem;
    background: #ccc;
    color: #000a;
}

.card hr {
    margin-top: .5rem;
    border: 0;
    border-top: 1px solid #000a;
}

.card.green {
    background: #0f04;
}

.card.red {
    background: #f004;
}

.card:not(:last-of-type) {
    margin-bottom: .5rem;
}